
.create-4,
.create-3,
.create-2,
.create-1{
    display: none;
    flex-direction: column;
    align-items: center;
}

.title-create{
    font-weight: 700;
    font-size: 23px;
}

.initial-form{
    width: 600px;
    height: 256px;
    background-color: #ffff;
    padding: 21px 20px 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 27px 0 85px 0;
}

.initial-form li input{
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border: 1px #D1D1D1 solid;
    padding: 13px 0 11px 23px;
}

input::placeholder {
    font-style: italic;
    font-size: 19px;
    margin-left: 16px;
  }

.nextButton{
    width: 368.86px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFFF;
    font-size: 21px;
    border: 1px #EC362D solid;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.newLevels,
.newQuestions{
    background-color: inherit;
    width: 600px;
    margin: 36px 0 81px 0;
}

.newLevel,
.newQuestion{
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    width: 100%;
    min-height: 74px;
    background-color: #FFFF;
    padding: 0px 19px 0px 17px ;
    margin-bottom: 24px;
    cursor: pointer;
    border-radius: 3px;
}

.newLevel span,
.newQuestion span{
    width: calc(100% - 30px);
    font-size: 20px;
    font-weight: 700;
    padding: 27px 0px 27px 0px;
}

.newLevel ion-icon,
.newQuestion ion-icon{
    width: 26px;
    height: 23px;
    display: block;
    padding: 27px 0px 27px 0px;
}

.newLevel-content,
.newQuestion-content{
    display: none;
    flex-direction: column;
}

.newLevel-content input,
.newQuestion-content input{
    height: 46px;
    border-radius: 5px;
    border: 1px #D1D1D1 solid;
    margin-top: 14px;
    padding: 13px 0 11px 23px;
}

.newLevel-content span,
.newQuestion-content span{
    margin: 28px 0 24px 0;
}

.input-separation{
    margin-bottom: 32px;
}

.homeButton{
    background-color: inherit;
    border: none;
    width: 219.64px;
    height: 44px;
    margin-top: 9px;
    font-size: 21px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color:#818181;
}

@media (max-width: 1100px) {
    .initial-form{
        margin: 29px 0 29px 0;
        width: 100vw;
    }

    .nextButton{
        width: 324px;
    }

    .newLevels,
    .newQuestions{
        margin: 29px 0 29px 0;
        width: 100vw;
    }
}