.quizzing {
    display: none;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.quizzing > div {
    position: relative;
}

.quizzing-header {
    width: calc(100vw - 10px);
    display: none;
    position: absolute;
}

.quizzing-header img{
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.quizzing-header p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
}

.question {
    width: 80%;
    background-color: #FFFFFF;
    margin: 25px auto 25px auto;
    justify-content: center;
    padding: 25px 0 25px 0;
}

.container {
    width: 90%;
    margin: 0px auto 0px auto;
}

.question .title {
    width: 100%;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.options {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options > div {
    width: 49%;
    margin-top: 15px;
}

.question button {
    width: 100%;
    height: 250px;
    border: 0px;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.question p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}