.quizzing {
    display: none;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.quizzing > div {
    position: relative;
}

.quizzing-header {
    width: calc(100vw - 10px);
    display: none;
    position: absolute;
}

.quizzing-header img{
    width: 100%;
    height: 300px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.quizzing-header p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
}

.question, .score {
    width: 80%;
    background-color: #FFFFFF;
    margin: 25px auto 25px auto;
    justify-content: center;
    padding: 25px 0 25px 0;
}

.container {
    width: 90%;
    margin: 0px auto 0px auto;
}

.question .title, .score .title {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.options {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.options > div {
    width: 49%;
    margin-top: 15px;
}

.question button {
    width: 100%;
    height: 250px;
    border: 0px;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.question p {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.selected {
    opacity: 1 !important;
}

.right {
    color: #009C22;
    opacity: 0.3;
}

.wrong {
    color: #FF4B4B;
    opacity: 0.3;
}

.score {
    display: none;
}

.score .title {
    background-color: #EC362D;
}

.description {
    display: flex;
    justify-content: space-between;
}

.description img, .description p {
    width: 49%;
    height: 200px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 19px;
    line-height: 25px;
    word-wrap: break-word;
}

.options-endgame {
    width: 80%;
    display: none;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-endgame button {
    margin: 15px ;
    cursor: pointer;
}

.play-again {
    width: 50%;
    height: 50px;
    background-color: #EC362D;
    border: 0px;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 18px;
}

.options-endgame button.home {
    width: 50%;
    height: 50px;
    background-color: transparent;
    border: 0px;
    color: #818181;
    font-size: 18px;
}