* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

main {
    width: 75%;
    margin: 146px auto;
}

main > section {
    margin-bottom: 77px;
}

main > div > p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.user-quizzes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.user-quizzes ion-icon {
    font-size: 35px;
    color: #EC362D;
}

.user-quizzes button {
    width: 35px;
    height: 35px;
    padding: 0px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}

.my-quizzes {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 48px;
}

.no-quizz {
    width: 100%;
    height: 181px;
    border: 1px dashed #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 77px;
}

.my-quizzes p {
    color: #B9B9B9;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
}

.my-quizzes button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.no-quizz button {
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border-radius: 50px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    cursor: pointer;
    font-size: 21px;
}

.my-quizzes .options-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: red;
    width: 43px;
    height: 87px;
    position: absolute;
    top: 9px;
    right: 0;
    z-index: 1;
    border-radius: 10px 0 0 10px;
}

.my-quizzes .options-holder :last-child {
    height: 33px;    
}

.my-quizzes .icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: transparent;
}

.all-quizzes {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quizz {
    width: 33%;
    height: 181px;
    position: relative;
    margin-bottom: 5px;
}

.quizz > button {
    width: 100%;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%), url('https://img.quizur.com/f/img60229135637eb5.97078183.jpg?lastEdited=1612878137');
    background-size: cover;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.quizz .title {
    position: absolute;
    bottom: 7px;
    left: 18px;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 22px;
    margin: 0px;
    text-align: start;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.quizzing {
    display: none;
}

.quizzing > div {
    position: relative;
}

.quizzing-header {
    display: none;
    position: relative;
}

.quizzing-header img{
    width: 100vw;
    height: 300px;
    background-size: cover !important;
}

.quizzing-header p {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 39px;
}

.question {
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
    padding-top: 25px;
}

.question .title {
    width: 90%;
    height: 138px;
    margin-top: 25px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0px auto 0px auto;
}

.options-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.options-container .option {
    width: 49%;
    height: 250px;
    margin: 10px 0 10px 0;
}

.options-container .option button {
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
    border: 0px;
    cursor: pointer;
}

.options-container .option button img {
    width: 100%;
    height: 100%;
}

.options-container .option p {
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

@media (max-width: 1100px) {
    main {
        width: 95%;
        margin: 100px auto;
    }
    
    main > section {
        margin-bottom: 35px;
    }

    .user-quizzes{
        padding: 0 5%;
    }

    .all-quizzes-title{
        margin-left: 5%;
    }

    .quizz {
        width: 90%;
        margin: 0 auto;
    }

    .quizzing img {
        height: 181px;
    }

    .quizzing p {
        font-size: 19px;
    }

    .question {
        width: 100%;
    }
}